<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TargetBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TargetBridge.Properties.Settings>
            <setting name="TargetIp" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="FocuserId" serializeAs="String">
                <value />
            </setting>
            <setting name="TelescopeId" serializeAs="String">
                <value />
            </setting>
            <setting name="FocuserSetup1" serializeAs="String">
                <value />
            </setting>
            <setting name="FocuserPosition1" serializeAs="String">
                <value />
            </setting>
            <setting name="FocuserSetup2" serializeAs="String">
                <value />
            </setting>
            <setting name="FocuserPosition2" serializeAs="String">
                <value />
            </setting>
            <setting name="FocuserSetup3" serializeAs="String">
                <value />
            </setting>
            <setting name="FocuserPosition3" serializeAs="String">
                <value />
            </setting>
            <setting name="FocuserSetup4" serializeAs="String">
                <value />
            </setting>
            <setting name="FocuserPosition4" serializeAs="String">
                <value />
            </setting>
        </TargetBridge.Properties.Settings>
    </userSettings>
</configuration>